<template name="about">
    {{>navMenu}}
    <section id= "aboutHeader">
      <div class="container clearfix">
        <div class="row-fluid">
          <div class="content">
            <h3>  Every baby should eat well,
              <br>for today and tomorrow </h3>
          </div>
        </div>
      </div>
    </section>
    <section id= "aboutDescription">
      <div class="container clearfix">
        <div class="row-fluid">
          <div class="content">
            <div class="philosophyBackground">
              <div class="philosophyBlock">
                <h4>Baby’s Purest is committed to offer environmentally friendly products while making healthy eating easier for our next generation. We invite you to take a closer look at Baby’s Purest and let us know what you think.
                </h4>
                <h4>
                  Share with us at
                  <a href="mailto: feedback@babypurest.com?Subject=Hello%20Baby's%20Purest,%20I%20Want%20You%20To%20Know......." class="underline"> feedback@babypurest.com </a>
                </h4>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
    <section id= "ourMission">
      <div class="container clearfix">
        <div class="row-fluid">
          <div class="content">
            <div class='col-lg-6'>
              <div class="aboutContent">
                <div class="aboutTitle">
                  <h3>Our Mission</h3>
                </div>
                <div class="aboutContext">
                  <p>
                    At Baby's Purest, we strives to provide parents the easiest way to get the best baby food that help them achieve better work-life balance.
                  </p>
                </div>
              </div>
            </div>
            <div class='col-lg-6'>

            </div>


          </div>
        </div>
      </div>
    </section>


    {{>mainFooter}}
</template>
