<template name="homepage">
  {{>navMenu}}
  <section id= "main-hero">
    <div class="container clearfix">
      <div class="row-fluid">
        <div class="content">
          <h3> Best Baby Food Made Easy</h3>
          <p>
            Freshly-made, organic,  local baby food, <br> delivered weekly to your door!
          </p>
          <a href="/signup" class="btn" id="main_join_now">
            <h5>Join Now</h5>
            <span>Get started today</span>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section id= "OrganicIngredient">
    <div class="container clearfix">
      <div class="row-fluid">
        <div class="content colorBackground">
          <h4> Enjoy 100% Organic, Fresh, Local Ingredients <br>
            Without Food Additives</h4>
          <p>
            We are working with some of the best local organic farmers to ensue our ingredients offer complete and balanced nutrition for babies at each stage of the first year
          </p>
          <div class="container clearfix">
            <div class="row">
              <div class="content noAdditives">
                <div class='col-md-6'>
                  <div class='col-sm-6'>
                    <div class="additiveImgHolder">
                      <img class="additiveImg" src="noSugar.png" alt="No Sugar Added" height="100" width="100">
                    </div>
                    <p>
                      No Sugar Added
                    </p>
                  </div>
                  <div class='col-sm-6'>
                    <div class="additiveImgHolder">
                      <img class="additiveImg" src="noSalt.png" alt="No salt Added" height="100" width="100">
                    </div>
                    <p>
                      No Salt Added
                    </p>
                  </div>
                </div>
                <div class='col-md-6'>
                  <div class='col-sm-6'>
                    <div class="additiveImgHolder">
                      <img class="additiveImg" src="noPreservative.png" alt="No Preservative" height="100" width="100">
                    </div>
                    <p>
                      No Preservatives
                    </p>
                  </div>
                  <div class='col-sm-6'>
                    <div class="additiveImgHolder">
                      <img class="additiveImg" src="noArtificial.png" alt="No Artificial Flavors" height="100" width="100">
                    </div>
                    <p>
                      No Artificial Flavors and Colors
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a href="/signup" class="btn get-started">
            <span> Get Started Today »</span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section id= "standard-section" class="allergyConcious">
    <div class="container clearfix">
      <div class="row-fluid">
        <div class="content text-photo">
          <div class='col-lg-6'>

          </div>
          <div class='col-lg-6'>
            <h4> Get Allergy-Conscious Recipes for Babies at Each Stage</h4>
            <p>
              Our recipes are allergy-conscious and all of our products have warning labels about “the Big 8” food allergens, including milk, eggs, fish, shellfish, tree nuts, peanuts, wheat, and soy.
            </p>
            <a href="/signup" class="btn get-started">
              <span> Get Started Today »</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id= "standard-section" class="gruntWork">
    <div class="container clearfix">
      <div class="row-fluid">
        <div class="content text-photo">
          <div class='col-lg-6'>
            <h4> Let Us Do the Grunt Work </h4>
            <p>
              We make fresh organic baby food easy to access. From ingredient research, grocery shopping, to cooking - we do it all for you! <br>Oh! And delivery to your door is free!
            </p>
            <a href="/signup" class="btn get-started">
              <span> Get Started Today »</span>
            </a>
          </div>
          <div class='col-lg-6'>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section id= "standard-section" class="sustainable">
    <div class="container clearfix">
      <div class="row-fluid">
        <div class="content text-photo">
          <div class='col-lg-6'>

          </div>
          <div class='col-lg-6'>
            <h4> Keep the Highest Standards of Sustainability </h4>
            <p>
              We only bring local and organic foods from farms to table to support sustainable agriculture and fair trade. We also use reusable insulated bags for packaging to lower environmental impact, such as carbon and water footprint.

            </p>
            <a href="/signup" class="btn get-started">
              <span> Get Started Today »</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id= "stage">
    <div class="container clearfix">
      <div class="row-fluid">
        <div class="content stage">

          <div class="row">
            <h3>
              All babies should eat well at every stage
            </h3>
          </div>
          <div class="row">
            <div class='col-lg-4'>
              <div class='stage1'>
                <div class='stageTitle'>
                  <h4> Single Puree </h4>
                  <h5> &#8594; 6 month+ </h5>
                </div>
                <div>
                  <img class="babyStage" src="stage1.jpg" alt="No Sugar Added" height="180" width="180">
                </div>
                <div>
                  <p>
                    Single Puree is made with single-ingredient fruits and veggies that are ideal for your baby’ first taste. The smooth texture is easy for little ones to chew and digest.
                  </p>
              </div>
              </div>
            </div>
            <div class='col-lg-4'>
              <div class='stage2'>
                <div class='stageTitle'>
                  <h4> Yummy Pairs </h4>
                  <h5> &#8594; 8 month+ </h5>
                </div>
                <div>
                  <img class="babyStage" src="stage2.jpg" alt="No Sugar Added" height="180" width="180">
                </div>
                <div>
                  <p>

                    Our Yummy Pairs offer thicker purees of fruit and veggie combinations with slightly more texture to expand your baby’s palate and to promote healthy eating habits.

                  </p>
                </div>
              </div>
            </div>
            <div class='col-lg-4'>
              <div class='stage3'>
                <div class='stageTitle'>
                  <h4> Tasty Trio </h4>
                  <h5> &#8594; 10 month+ </h5>
                </div>
                <div>
                  <img class="babyStage" src="stage3.jpg" alt="No Sugar Added" height="180" width="180">
                </div>
                <div>
                  <p>

                    Tasty Trio combines fruits and vegetables with whole grains or legumes that provide abundant of nutrients like calcium, fiber, and protein to your little grown-ups.

                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id= "closing">
    <div class="container clearfix">
      <div class="row-fluid">
        <div class="content">
          <h4> Your Baby Deserves The Best! </h4>
          <p>
            Healthy baby food is easy with Baby’s Purest’s fresh, 100% organic, local ingredients and recipies.
          </p>
          <a href="/signup" class="btn" id="main_join_now">
            <h5>Join Now</h5>
            <span>Get started today</span>
          </a>
        </div>
      </div>
    </div>
  </section>
  {{>mainFooter}}
</template>
