<template name="homepage">
  <section id= "main-hero">
<!--    <div class="For-mobile">
      <img alt="Mobile-main-hero-variant" src="ForMobileHero.png">
    </div>
  -->
    <div class="container clearfix">
      <div class="row-fluid">
        <div class="content">
          <h3> Best Baby Food Made Simple</h3>
          <p>
              Freshly-made, local, organic baby food,
              <br>
              delivered weekly to your home
          </p>
          <a href="/users/sign_up" class="btn" id="main_join_now">
            <h5>Join Now</h5>
            <span>Get started today</span>
          </a>
        </div>
      </div>
    </div>
  </section>
</template>
