<template name="howItWorks">
    {{>navMenu}}
    <section id= "howItWorks" class="title">
      <div class="container clearfix">
        <div class="row-fluid">
          <div class="content">
            <h4> How Baby's Purest Works</h4>
            <p>
                Quality baby food is just that simple!
            </p>
          </div>
        </div>
      </div>
    </section>
    <section id= "howItWorks">
      <div class="container clearfix">
        <div class="row-fluid">
          <div class="content">
asb
          </div>
        </div>
      </div>
    </section>
    {{>mainFooter}}
</template>
