<template name="howItWorks">
    {{>navMenu}}
    <section id= "howItWorks" class="title">
      <div class="container clearfix">
        <div class="row-fluid">
          <div class="content">
            <h4> How Baby's Purest Works</h4>
            <p>
                THREE STEPS ONLY! Quality baby food is just that simple!
            </p>
          </div>
        </div>
      </div>
    </section>
    <section id="howItWorksSteps">
      <div class="steps clearfix">
            <div class="step one clearfix">
              <div class="stepImg">
              </div>
              <div class="stepAction clearfix">
                <h4>1. Tell us about your baby</h4>
                <p>
                  Baby’s Purest designs  all baby food recipes based on your baby’s development stage .
                </p>
              </div>
            </div>
            <div class="step two clearfix">
              <div class="stepImg">
              </div>
              <div class="stepAction clearfix">
                <h4>2. Personalize and subscribe</h4>
                <p>
                  Personalize your preferred meal plan for your baby without hassle.
                </p>
              </div>
            </div>
            <div class="step three clearfix">
              <div class="stepImg">
              </div>
              <div class="stepAction clearfix">
                <h4>3. Deliver to your door</h4>
                <p>
                  We deliver to your door for free so you can skip grocery shopping and cooking.
                </p>
              </div>
            </div>
      </div>
      <div id="howItWorksJoin">
        <a href="/signup" class="btn" id="main_join_now">
            <h5>Join Now</h5>
            <span>Get started today</span>
        </a>
      </div>
    </section>
    <section id="howItWorksFarmFresh">
      <div class="container clearfix">
        <div class="row-fluid">
          <div class="content">
            <h4> Farm-fresh ingredients from family-run business</h4>
            <p>
              Meet more trusted farm partners!
            </p>
            <a href="/signup" class="btn get-started">
              <span> Get Started Today »</span>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section id= "standard-section" class="healthyRecipies">
      <div class="container clearfix">
        <div class="row-fluid">
          <div class="content text-photo">
            <div class='col-lg-6'>
              <h4> Healthy Recipes, <br> Happy Tummies</h4>
              <p>
                We work closely with  nutrition consultants to create  suitable recipes for babies. Learn weekly menus selected with care by our team of parents
              </p>
              <a href="/signup" class="btn get-started">
                <span> Get Started Today »</span>
              </a>
            </div>
            <div class='col-lg-6'>

            </div>
          </div>
        </div>
      </div>
    </section>

    <section id= "standard-section" class="ourPromise">
      <div class="container clearfix">
        <div class="row-fluid">
          <div class="promiseHeader">
            <h4> Our Promise to You</h4>
          </div>
          <div class="content promiseColumn">
            <div class='col-md-6'>
              <h5>
                100% Organic
              </h5>
              <div class="promiseImg promiseOrganic">
                <div class="promiseText">
                  <p>
                    Our products are freshly-made with 100% organic ingredients that are  more nutritious than shelf-stable jars.
                  </p>
                </div>
              </div>
            </div>

            <div class='col-md-6'>
              <h5>
                Local and Seasonal
              </h5>
              <div class="promiseImg promiseLocal">
                <div class="promiseText">
                  <p>
                    We source local and seasonal ingredients as much as possible for improving community health and stimulating regional economy.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="content promiseColumn">
            <div class='col-md-6'>
              <h5>
                Allergy Concious
              </h5>
              <div class="promiseImg promiseAllergyConcious">
                <div class="promiseText">
                  <p>
                    All of our baby food are no added sugar, salt, artificial flavors and colors, preservatives, and non-GMO
                  </p>
                </div>
              </div>
            </div>

            <div class='col-md-6'>
              <h5>
                Convenient and Simple
              </h5>
              <div class="promiseImg promiseConvenience">
                <div class="promiseText">
                  <p>
                    Just  subscribe online and   freshly-made baby food will be delivered right to your door every week.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <a href="/signup" class="btn get-started">
            <span> Get Started Today »</span>
          </a>

        </div>
      </div>
    </section>


    {{>mainFooter}}
</template>
