<template name='themagicofbabypurest'>
  <section id="workStationNav">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand BPworkstation" href="/workstation/themagicofbabypurest"> Baby's Purest <br>Workstation</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="/workstation/ingredients">Ingredients</a></li>
            <li><a href="/workstation/recipe">Recipes</a></li>
            <li><a href="/workstation/menuCalendar">Menu</a></li>
            <li><a href="/workstation/userManagement">User Management</a></li>
            <li><a href="/workstation/zipcodes"> Zipcodes</a></li>

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </section>
  <section id="userLogIn">
    <div class="log-in">
      {{> loginButtons}}
    </div>

  </section>


</template>
